@import "~semantic-ui-css/semantic.min.css";

@media only screen and (max-width: 767px) {

    [class*="mobile hidden"],
    [class*="tablet only"]:not(.mobile),
    [class*="computer only"]:not(.mobile),
    [class*="large monitor only"]:not(.mobile),
    [class*="widescreen monitor only"]:not(.mobile),
    [class*="or lower hidden"] {
        display: none !important;
    }

    .vertical.menu>.stackable {
        width: 100%;
    }
}

.ui.vertical.menu.navbar {
    margin-top: -15px !important;
    width: 100%;
    display: none;
    margin-bottom: 20px;
}

.ui.menu {
    width: 100%;
}

.mobile.narrow.main {
    padding: 0;
}

.ui.page.grid {
    margin-top: 0;
    padding: 0;
}

.ui.main.container {
    padding-top: 20px;
}

.ui.grid.stackable>.six.wide.column {
    text-align: center;
}