<!DOCTYPE>
<html>
    <body>
        <p>Hello <b>{{ user.username }}</b> !</p>
        <br>
        <p>You have changed your email address !</p>
        <p>Click <a href="{{ confirmation_link }}">here</a> to confirm your new email</p>

        <br>
        <p>ChronosFiles</p>
    </body>
</html>