<!DOCTYPE>
<html>
    <body>
        <p>Welcome <b>{{ user.username }}</b> !</p>
        <br>
        <p>You have successfully registered to ChronosFiles !</p>
        <p>Click <a href="{{ confirmation_link }}">here</a> to confirm your account</p>

        <br>
        <p>ChronosFiles</p>
    </body>
</html>