<!DOCTYPE>
<html>
    <body>
        <p>Hello <b>{{ user.username }}</b> !</p>
        <br>
        <p><b>Warning !</b> Your previous files will be deleted !</p>
        <br>
        <p>Click <a href="{{ confirmation_link }}">here</a> to reset your password</p>
        <br>
        <p>ChronosFiles</p>
    </body>
</html>