{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="ui grid">
    <div class="five wide column"></div>
    <div class="five wide column">
        <form action="{{ path('login') }}" method="post" class="ui form">
            <div class="field">
                <label for="username">Username</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" id="password" name="_password" />
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
            {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
            {% endif %}
            <button type="submit" class="ui button">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Sign-in
            </button>
        </form>
    </div>
</div>
{% endblock %}
