{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" class="form-control" />
    </div>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    {% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey }}
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Sign-in
    </button>
</form>
{% endblock %}
